/* LAYOUT */
body {
  color: white;
  font-size: 100%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
	background-color: #1D1F25;
}

a{
	color: white;
	text-decoration: none;
}
a:hover {
  color: #769E98;
	text-decoration: underline;
}

img{
	width: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-gif{
	width: 100px;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h2 {
  margin-bottom: 0.25rem;
}


/* NEXT PREV */

#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}


/* Categories */
.li-categories, .li-media{
	list-style: none;	
	margin-left: 3%;	
}
.site-footer, .site-categories{
	width: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
	bottom: 0px;
}
