/* LAYOUT */
body {
  	color: #ffecd1;
  	font-size: 105%;
  	line-height: 1.3;
 	max-width: 75rem;
  	padding: 1rem;
  	margin: 0 auto;
	background-color: #001524;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
  	font-style: normal;
	
}

p{
	font-size: 1.2rem;
}

a{
	color: #ffecd1;
	text-decoration: none;
}
a:hover {
  	color: #78290f;
	text-decoration: underline;
}

img{
	max-width: 40%;
	display: block;
	margin: 0 auto;
}

.main-image {
	max-width: 25%;
    clip-path: circle();
  	margin-left: 3rem;
  	margin-right: auto;
}

.content {
  	margin-bottom: 2rem;
}


.index-layout {
	display: flex;
	flex-direction: column;
}

.bottom-index-layout{
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-left: 5rem;
}

.index-presentation{
	max-width: 60%;
	font-size: 1.4rem;
}
/* NAVIGATION */

.site-nav {
  display: flex;
  flex-direction: row;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .nav-elm {
  font-weight: bold;
  padding-left: 0;
}

.focus-nav{
	color: #ff7d00;	
}


/* POSTS*/
.class-posts{
	color: #15616d;
	text-decoration: underline;
}

/*  CATEGORIES	*/
.div-categories{
	line-height: 0.5;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}


.site-rss{
	width: 100%;
	display: flex;
  	justify-content: flex-end;
	align-items: center; bottom: 0px;

}


.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h2 {
  margin-bottom: 0.25rem;
}


/* NEXT PREV */

#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}


/* Categories */
.li-categories, .li-media{
	list-style: none;	
	font-size: 1.2rem;
}
.site-footer, .site-categories{
	width: 100%;
	display: flex;
  	align-items: center;
}

.site-categories{
	justify-content: center;
}

/* Footer*/
.site-footer{
	justify-content: center;
}


@media screen and (max-width: 48rem) {
  	.main-menu {
    	flex-direction: column;
  	}
  .index-layout{
	  display: flex;
	  flex-direction: column;
  	}

  	.site-nav a {
    	padding: 0.5rem;
    	padding-left: 0;
  	}

  	.bottom-index-layout{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin: 0;
 	}

	.site-rss{
		display: flex;
		flex-direction: column;

	}
	.index-layout{
		margin: 0 auto;
		align-items: center;
	}
	.main-image{
		margin: 0;
		max-width: 35%;
	}

	.latest-post{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.site-rss{
		display: none;
	}
	.site-categories{
		display: flex;
		flex-direction: column;
	}

	
}


